.footer-container {
  background: $text_black;
}

.s-lib-public-body #s-lib-footer-public,
.s-lib-footer,
#s-lib-footer-public, {
  border-top: none;
  margin: 0 auto;
  font-size: 100%;
  background-color: $text_black;
  color: $text_footer_gray;
  padding: 45px 0;
}

.s-lib-public-body #s-lib-footer-public,
.s-lib-footer,
#s-lib-footer-public,
#s-lib-footer-login-link, 
#s-lib-footer-support-link {
  a {
    color: $text_footer_dark_gray;
    text-decoration: underline;
    &:hover {
      color: $text_footer_white;
    }
  }
}

.s-lg-text-greyout {
  color: $text_footer_gray;
}

.bold, .s-lg-bold, .s-lg-book-title {
  font-size: 100%;
}
