#s-lg-hp-nav .nav-pills > li.active > a:hover, 
#s-lg-hp-nav .nav-pills > li.active > a:focus, 
#s-lg-hp-nav .nav-pills > li.active > a {
	background-color: #FFFFFF !important;  
	border-bottom: 4px solid !important;
	border-bottom-color: #57068C !important;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}

#s-lg-hp-nav {
	background-color: #FFFFFF !important;
}

#s-lg-hp-nav .nav-pills {
	border-bottom: 2px solid !important;
	border-bottom-color: #57068C !important;
}

/*Removing Rounded Corners from the boxes*/
.panel-default {
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}

.panel-heading {
	background-color: #F3F0F5  !important;
	border-color: #E2E0E0 !important;
}