#s-lg-public-skiplink, .skiplink {
  border-bottom-right-radius: 0;
  padding: 0;
  border: 0;
  transition: none;
  position: absolute;
  top: -42px;
  left: 0;
}
#s-lg-public-skiplink:focus, .skiplink:focus {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 999999;
  background-color:white !important;
  padding-left: 2px;
  padding-right: 2px;
  overflow: visible;
  text-decoration: none;
  transition: none;
  left: 0;
  top: 0;
  outline: 0;
}
.databases_by_subject_button {
  text-align: center;
  margin-bottom: 20px;
}
.az-layout-subject-column {
  width: 45%;
}
.az-layout-subject-column:nth-child(2) {
  margin-left: 10%;
}
#ebscohostsearchtext {
  width: 70%;
}