.dataservices-layout {
  // Carousel styles
  .carousel-inner img {
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-inner div {
    color: black;
    text-shadow: none;
  }
  .carousel-indicators li {
    border: 1px solid black;
  }
  .carousel-indicators li.active {
    background-color: black;
  }
  .carousel-control.right,
  .carousel-control.left {
    background-image: none;
  }
  .tales {
    width: 100%;
  }
  .carousel-inner {
    width: 100%;
    max-height: 500px !important;
  }
  .center {
    transform: translate(0%, 50%) scale(1.5, 1.5);
  }
  // End carousel

  // Animated circles
  .circle-container {
    position: relative;
    width: 36em;
    height: 36em;
    padding: 8.4em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px #e588fe;
    border-radius: 50%;
    margin: 1.75em auto 0;
  }

  .circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12em;
    height: 12em;
    margin: -6em;
  }

  .circle-container img {
    display: block;
    width: 100%;
  }

  .deg90 {
    transform: rotate(90deg) translate(18em) rotate(-90deg);
  }

  .deg38 {
    transform: rotate(38.6deg) translate(18em) rotate(-38.6deg);
  }

  .deg141 {
    transform: rotate(141.4deg) translate(18em) rotate(-141.4deg);
  }

  .deg192 {
    transform: rotate(192.8deg) translate(18em) rotate(-192.8deg);
  }

  .deg244 {
    transform: rotate(244.2deg) translate(18em) rotate(-244.2deg);
  }

  .deg295 {
    transform: rotate(295.8deg) translate(18em) rotate(-295.8deg);
  }

  .deg347 {
    transform: rotate(347.2deg) translate(18em) rotate(-347.2deg);
  }

  .deg0 {
    transform: translate(18em);
  }

  /* 12em = half the width of the wrapper */

  .deg45 {
    transform: rotate(45deg) translate(18em) rotate(-45deg);
  }

  .deg135 {
    transform: rotate(135deg) translate(18em) rotate(-135deg);
  }

  .deg180 {
    transform: translate(-18em);
  }

  .deg225 {
    transform: rotate(225deg) translate(18em) rotate(-225deg);
  }

  .deg315 {
    transform: rotate(315deg) translate(18em) rotate(-315deg);
  }
  // End animated circles

  /* FLIP ANIMATION */

  /* entire container, keeps perspective */

  .flip-container {
    perspective: 1000;
  }

  /* flip the pane when hovered */

  .flip-container:hover .flipper,
  .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

  /* flip speed goes here */

  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  /* hide back of pane during swap */

  .front,
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */

  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */

  .back {
    transform: rotateY(180deg);
  }
}
