@import 'reset';
@import 'colors';
@import 'variables';
@import 'mixins';
@import 'a11y';
@import 'breadcrumbs';
@import 'header';
@import 'footer';
@import 'hide';
@import 'guide';
@import 'profile';
@import 'tabs';
@import 'buttons';
@import 'subject';
@import 'arch';
@import 'dialog';
@import 'blog';

/* 
   Apply the NYUPerstare font universally across all elements within the body.
   This rule uses !important to ensure that the NYUPerstare font takes precedence
   over any other font-family styles, including those defined in lookfeel.css.
   lookfeel.css is a vendor file that is currently overriding our fonts on a 
   number of elements. By applying !important, we ensure consistent typography 
   throughout the site, preventing any unintended font changes introduced by 
   the vendor stylesheet. 
*/
//body * {
//  font-family: $family_nyu_perstare !important;
//}

body {
  padding-left: 0;
  padding-right: 0;
  font-family: $family_nyu_perstare !important;
  font-size: $font_size_base;
  color: $text_black;
}

@include max-width($bp_small_page_heading) {
  .container {
    margin: 0 1em;
  }
}

.heading {
  @include antialias;
  font-family: $family_nyu_perstare;
}

h1,
h2,
h3,
h4 {
  @extend .heading;
}

h1 {
  font-family: $family_nyu_perstare;
  font-size: 36px;
  font-weight: $weight_regular;

  @include max-width($bp_mobile_body) {
    font-size: 28px;
  }
}

// Side bar h2 headers
.s-lib-public-side-header h2 {
  color: $text_dark_gray;
}

// Resize h2s across the bord
.s-lib-box h2.s-lib-box-title,
.s-lib-public-side-header h2,
h2 {
  font-size: $font_size_large;
  color: $text_dark_gray;

  @include max-width($bp_mobile_body) {
    font-size: $font_size_medium;
  }
}

h3,
h4 {
  font-size: $font_size_medium;

  @include max-width($bp_mobile_body) {
    font-size: $font_size_base;
  }
}

a {
  color: $text_blue;

  &:hover {
    color: $text_blue;
  }
}


// A hack because LG named a class for a font-weight
.bold {
  font-weight: normal;
}

// Make selects fit container
.form-inline select.form-control {
  width: 100%;
}

//  Changing popover title size 
.s-lg-small,
.s-lib-debug,
.s-lib-small,
.popover-title {
  font-size: 100%;
}

// Standardize greyed out colors to just be our accessible black
.s-lib-color-lt-grey,
.popover-title,
.popover-content,
.s-lg-no-val,
.s-lg-text-greyout,
.s-lib-greyout {
  color: $text_black;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: underline;
  outline: none;
}

// Make external link indicator icon readable size and color
.fa-external-link {
  color: inherit;
  font-size: 90% !important;
}


// Normalize size of text inputs
input[type='text'].s-lg-form-control {
  font-size: $font_size_base !important;
  height: 34px !important;
}

// Remove box shadow and borders from side boxes
.s-lib-box-std .s-lib-box-title {
  background: none;
}

.s-lib-box {
  border: none;
  box-shadow: none;
}

.badge {
  background-color: $text_black;
}

.navbar-default .navbar-brand {

  &,
  &:hover {
    color: $text_black;
  }
}

.alert-info {
  background-color: transparent;
}

/*
  Hide "Librarian Review" content from public display on individual database pages
*/
.librarian-review-header,
.librarian-review-header + .mt-2.mb-2 {
    display: none;
}

//// Hide the "Additional Info" button on an individual database page
//button.collapsible.az-toggle {
//  visibility: hidden;
//}
