@import 'arch';
@import 'temporary';
@import 'reset';
@import 'colors';
@import 'variables';
@import 'mixins';
@import 'a11y';
@import 'breadcrumbs';
@import 'header';
@import 'footer';
@import 'hide';
@import 'guide';

body {
	padding-left: 0;
	padding-right: 0;
	font-family: $family_gotham;
	font-size: $font_size_base;
}

.heading{
  @include antialias;
  font-family: $family_gotham;
}

h1, h2, h3, h4 {
	@extend .heading;
}

h1{
  font-family: $family_gotham_narrow;
  font-size: 36px;
  font-weight: $weight_light;

  @include max-width($bp_mobile_body){
    font-size: 28px;
  }
}

// Guide name
#s-lg-guide-header-info h1, .s-lib-header h1, #s-lg-guide-name {
  font-family: $family_gotham_narrow;
  font-size: 36px;
  font-weight: $weight_light;
}

// Side bar h2 headers
.s-lib-public-side-header h2 {
	color: $text_black;
}

// Resize h2s across the bord
.s-lib-box h2.s-lib-box-title,
.s-lib-public-side-header h2,
h2{
  font-size: $font_size_large;

  @include max-width($bp_mobile_body){
    font-size: $font_size_medium;
  }
}

h3, h4{
  font-size: $font_size_medium;

  @include max-width($bp_mobile_body){
    font-size: $font_size_base;
  }
}

a {
	color: $text_blue;
	&:hover {
		color: $text_blue;
	}
}

// A hack because LG named a class for a font-weight
.bold {
	font-weight: normal;
}

// Buttons

.s-lib-profile-email a {
  background-color: $nyu_purple;
  font-size: $font_size_base;
  padding: 1em;
  margin: 0;
  &:hover {
    text-decoration: underline;
    background-color: $nyu_purple !important;
  }
}

.form-inline select.form-control {
	width: 100%;
}

//  Changing popover title size 
.s-lg-small, .s-lib-debug, .s-lib-small, 
.popover-title {
	font-size: 100%;
}

.nav > li > a:hover, 
.nav > li > a:focus {
	text-decoration: underline;
	outline: none;
}

#s-lg-tabs-container .nav-tabs > li > a, 
#s-lg-tabs-container .nav-pills > li > a {
	background-color: $nyu_purple;
	color: white;
}

.fa-external-link {
	color: white;
	font-size: 90% !important;
}

input[type='text'].s-lg-form-control {
	font-size: $font_size_base !important;
	height: 34px !important;
}
