<footer id="footer" class="primary-footer" data-swiftype-index="false">
  <div class="wrap">
    <div class="block-container">
      <div class="block block--25 footer__give">
        <form class="footer__search">
          <label class="sr-only" for="f_footer__search__field">  search this site </label>
          <input id="f_footer__search__field" type="text" class="footer__search__field st-default-search-input" name="q" placeholder="  search this site " autocomplete="off" autocorrect="off" autocapitalize="off">
          <input type="submit" class="footer__search__button ss-icon" value="&#x1F50D;" >
        </form>

        <a class="button" href="https://library.nyu.edu/giving/">Give to the Libraries</a>
      </div>

      <div class="block block--25 footer__menu">
        <ul class="list">
        <li class="menu__li menu__li--login-to-nyu-home">
            <a href="https://home.nyu.edu" class="menu__link menu__link--login-to-nyu-home" target="_blank">
              Login to NYU Home
            </a>
        </li>
        <li class="menu__li menu__li--departments">
            <a href="https://library.nyu.edu/departments/" class="menu__link menu__link--departments">
              Departments
            </a>
        </li>
        <li class="menu__li menu__li--staff-wiki">
            <a href="https://wiki.library.nyu.edu/" class="menu__link menu__link--staff-wiki" target="_blank">
              Staff Wiki
            </a>
        </li>
        <li class="menu__li menu__li--staff-directory">
            <a href="https://library.nyu.edu/people/" class="menu__link menu__link--staff-directory">
              Staff Directory
            </a>
        </li>
        <li class="menu__li menu__li--status-page">
            <a href="https://nyulibraries.statuspage.io" class="menu__link menu__link--status-page" target="_blank">
              Status Page
            </a>
        </li>
        </ul>
              </div>
              <div class="block block--25 footer__menu">
        <ul class="list">
        <li class="menu__li menu__li--research-guides">
            <a href="https://guides.nyu.edu/" class="menu__link menu__link--research-guides" target="_blank">
              Research Guides
            </a>
        </li>
        <li class="menu__li menu__li--faqs">
            <a href="http://library.answers.nyu.edu" class="menu__link menu__link--faqs" target="_blank">
              FAQs
            </a>
        </li>
        <li class="menu__li menu__li--career-opportunities">
            <a href="https://library.nyu.edu/about/our-team/career-opportunities/" class="menu__link menu__link--career-opportunities">
              Career Opportunities
            </a>
        </li>
        <li class="menu__li menu__li--contact-us">
            <a href="https://library.nyu.edu/contact/" class="menu__link menu__link--contact-us">
              Contact Us
            </a>
        </li>
        <li class="menu__li menu__li--accessibility">
            <a href="https://www.nyu.edu/footer/accessibility.html" class="menu__link menu__link--accessibility" target="_blank">
              Accessibility
            </a>
        </li>
        </ul>
      </div> <!-- block block--25 footer__menu -->
      <div class="block block--25 footer__social">
        <p>
          Find out about upcoming programs, events, and resources.<br>
          <a class="ss-navigateright right" href="https://bit.ly/nyu-liblink">Subscribe to our email list</a>
        </p>
          <a href="https://www.facebook.com/nyulibraries" class="ss-icon" target="_blank" aria-label="NYU Libraries Facebook">&#xF610;</a>
          <a href="https://www.instagram.com/nyulibraries" class="ss-icon" target="_blank" aria-label="NYU Libraries Instagram">&#xF641;</a>
          <a href="https://www.linkedin.com/company/nyu-libraries" class="ss-icon" target="_blank" aria-label="NYU Libraries LinkedIn">&#xF612;</a>
      </div>
    </div> <!-- block-container -->
    <div class="footer__copyright">
      Unless otherwise noted, all content copyright New York University. All rights reserved.
      <a href="https://library.nyu.edu/privacy-policy/">Privacy policy</a>

      <a class="footer__logo" href="https://www.nyu.edu">
        <img src="/assets/images/nyu-footer-logo.svg" alt="New York University homepage." height="27">
      </a>
    </div> 
  </div>  <!-- wrap   -->
</footer>